<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multer Images</title>
    <style>
        form {
            width: 30%;
            border: 1px solid black;
            margin: 10px auto;
            padding: 10px;
        }

        button {
            width: 100%;
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h1>Learning Multer</h1>
    </div>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="image" placeholder="Enter image"><br><br>
        <input type="file" name="image" /><br><br>
        <button type="submit">Upload</button><br>
    </form>
</body>

</html>