<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{> navbar}}

    <h1>Login Page</h1>

    {{msg}}

    <form action="/login" method="POST">
        <input type="text" name="username" id="username">
        <input type="password" name="password" id="password">
        <button type="submit">Sign UP</button>
    </form>
</body>
</html>