.card-item-comtainer {
    display: flex;
    justify-content: flex-start;
    gap: 0 30px ;
}

.cart-item-img {
    width: 100% ;
    height: 100% ;
}

.card-item-details {
    text-transform: capitalize;
}

.buy-now-btn {
    background-color: blueviolet;
}