<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>Home Page</h1>

    <h4>If already Signup <a href="/login">Login</a></h4>
    <h4>Signup First <a href="/signup">Signup</a></h4>

    <h3>Login Via Google<a href="/auth/google">Login via Google</a></h3>
    
    
</body>
</html>