/* Default (mobile first) */
.carousel-image {
    height: 200px !important; /* mobile default height */
    width: 100%;
    object-fit: cover;
}

.carousel-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
}

/* Medium devices (tablet, laptops) */
@media (min-width: 768px) {
    .carousel-image {
        height: 700px !important; /* bigger height for larger screens */
    }

    .carousel-text {
        font-size: 16px !important;
    }
}

/* Large devices (desktop, large screens) */
@media (min-width: 1200px) {
    .carousel-image {
        height: 500px !important; 
    }

    .carousel-text {
        font-size: 18px !important;
    }
}
